<ion-header class="toolbar">

  <ion-toolbar>
    <ion-title><strong>Coleção de Verão</strong></ion-title>
  </ion-toolbar>

  <div class="botao-de-voltar"> <!--TAGS DO IONIC-->

    <ion-icon style="min-width: 30px;" name="arrow-back-circle-outline" [routerLink]="['/tabs/tab1']"></ion-icon>

    <ion-label>Voltar</ion-label>
    
  </div>

</ion-header>

<ion-content>
  <div>

  <ion-img src="https://img.ltwebstatic.com/images3_pi/2022/07/12/165760316106828f01d92078c1f6fcc5d249c81dbf.webp"></ion-img>
  
  <!--CARD CONJUNTO-->
  <ion-card class="preco-roupa">
  <div>
    <h3> <strong>Conjunto Laranja</strong></h3>
    <h4>R$69,90</h4>
  </div>


    <div>
    <ion-button class="botao-de-compra">COMPRAR</ion-button>

  
<div class="botoes-esquerda">
      <ion-icon class="icons" name="heart-outline"></ion-icon>
      <ion-icon class="icons" name="share-social-outline"></ion-icon>
      <ion-icon class="icons" name="star-outline"></ion-icon>
    </div>
</div>


  </ion-card>

  <!--CARD TOP BRANCO-->
  <ion-card class="preco-roupa">
    
    <div>
    <h3> <strong>Top Reto Branco</strong></h3>
    <h4>R$29,90</h4>
  </div>

    <div>
    <ion-button class="botao-de-compra">COMPRAR</ion-button>

  
<div class="botoes-esquerda">
      <ion-icon class="icons" name="heart-outline"></ion-icon>
      <ion-icon class="icons" name="share-social-outline"></ion-icon>
      <ion-icon class="icons" name="star-outline"></ion-icon>
    </div>
</div>


  </ion-card>

  <!--CARD CAMISA DE BOTÃO-->
    <ion-card class="preco-roupa">
    
    <div>
      <h3> <strong>Camisa de Botão Laranja</strong></h3>
      <h4>R$49,90</h4>
    </div>

      <div>
    <ion-button class="botao-de-compra">COMPRAR</ion-button>

  
<div class="botoes-esquerda">
      <ion-icon class="icons" name="heart-outline"></ion-icon>
      <ion-icon class="icons" name="share-social-outline"></ion-icon>
      <ion-icon class="icons" name="star-outline"></ion-icon>
    </div>
</div>
    </ion-card>

    <!--CARD SHORT-->
      <ion-card class="preco-roupa">
      
      <div>
        <h3> <strong>Short Laranja</strong></h3>
        <h4>R$29,90</h4>
      </div>

        <div>
    <ion-button class="botao-de-compra">COMPRAR</ion-button>

  
<div class="botoes-esquerda">
      <ion-icon class="icons" name="heart-outline"></ion-icon>
      <ion-icon class="icons" name="share-social-outline"></ion-icon>
      <ion-icon class="icons" name="star-outline"></ion-icon>
    </div>
</div>
  </ion-card>

  </div>
</ion-content>
