<ion-header  class="headerX ion-no-border" slot="top" >
     
  <ion-icon  routerLink='/cadastro' routerLinkActive="active-link" name="log-in-outline"></ion-icon>
  <ion-icon fill="clear" routerLink="/login" routerLinkActive="active-link" name="person-outline">Login</ion-icon>
  <ion-icon fill="clear" routerLink="/favoritos" routerLinkActive="active-link" name="heart-outline">Favoritos</ion-icon>



</ion-header>


<ion-header  class="header ion-no-border" slot="top">

<ion-button fill="clear" style="width: 130px; margin: 20px; margin-top: 10px;" routerLink="/home">
<div class="logo" >
  <ion-img src="../../assets/imagens/NidasLogo-c.png" ></ion-img>
</div>
</ion-button>


<ion-button fill="clear" style="color:#8C52FF; margin-left: 70px;" routerLink="/home" routerLinkActive="active-link">Home</ion-button>
<ion-button fill="clear" style="color:#8C52FF; margin-left: 70px;" routerLink="/news"   routerLinkActive="active-link">News</ion-button>
<!--<ion-button fill="clear" style="color:#8C52FF; margin-left: 70px;" routerLink="/roupas"  routerLinkActive="active-link">Roupas</ion-button>-->
<ion-button fill="clear" routerLink="/roupas" >

<div class="dropdown">
<a style="color:#8C52FF; margin-left: 70px;" (mouseenter)="showDropdown()" >Roupas </a>
<ion-icon (mouseenter)="showDropdown()" style="color:#8C52FF; margin-bottom: -2px;" name="chevron-down-outline"></ion-icon>


</div>
</ion-button>

<ion-list  (mouseover)="showDropdown()" lines="none" style="color:#8C52FF; margin-top: -40px;" *ngIf="dropdownVisible" >
<div (mouseleave)="hideDropdown()">
<ion-item routerLink="/roupafem" >
Feminino
</ion-item>
<ion-item routerLink="/roupamasc">
Masculino
</ion-item>
</div>

</ion-list>
<ion-button fill="clear" style="color:#8C52FF; margin-left: 70px;" routerLink="/faleconosco"  routerLinkActive="active-link">Fale Conosco</ion-button>

</ion-header>

