.botao-cadastrar{
    align-items: center;
    display: flex;
    margin: auto;
    font-size: 20px;
}

.logo{
    max-width: 90%;
    padding: 50px;
    align-items: center;
    display: flex;
    margin: auto;
}